[Unit]
Description= Script that initializes the website system on startup.

[Service]
Type=simple
User=root
ExecStart=/bin/bash /opt/gusty_bike/start.sh


[Install]
WantedBy=multi-user.target
