$THIS_FILE_IS_INTERPRETED_USING_BASH
$ESCAPE_DOLLARS_WHERE_APPROPRIATE
[Unit]
Description=$WEBSITE_NAME socket

[Socket]
ListenStream=$SOCKET_FILE

[Install]
WantedBy=sockets.target