$THIS_FILE_IS_INTERPRETED_USING_BASH
$ESCAPE_DOLLARS_WHERE_APPROPRIATE
[Unit]
Description=$WEBSITE_NAME daemon
Requires=$WEBSITE_NAME.socket
After=network.target

[Service]
User=www-data
Group=www-data

RuntimeDirectory=$WEBSITE_NAME
PIDFile=$PID_FILE

WorkingDirectory=$DJANGO_CMS_DIR
ExecStart=\
    /usr/bin/gunicorn              \
        --pid "$PID_FILE"          \
        --bind "unix:$SOCKET_FILE" \
        --config "$WEBSITE_DIR/gunicorn-settings.py"  \
        website.wsgi
ExecReload=/bin/kill -s HUP \$MAINPID
ExecStop=/bin/kill -s TERM \$MAINPID

PrivateTmp=true

[Install]
WantedBy=multi-user.target